/* line 4, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
#name {
  font-family: impact, sans-serif;
  color: #FFF;
  width: 240px;
  float: left;
}

/* line 10, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.header {
  background-color: #333333;
}

/* line 14, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.header li {
  display: inline;
}

/* line 17, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.header li a {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #FFF;
}

/* line 24, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.container {
  margin: 0 auto;
  width: 100%;
}

/* line 29, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.jumbotron {
  height: 800px;
  background: url("kinkakuji.jpg");
  background-size: cover;
  margin-bottom: 15px;
}

/* line 36, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.nav {
  padding: 25px 0;
  width: 500px;
  float: right;
}

/* line 42, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.nav li a {
  display: inline;
}

/* line 46, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.nav li a:hover {
  text-decoration: underline;
  background-color: #333;
}

/* line 51, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.main {
  position: relative;
  top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

/* line 58, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.footer {
  margin: 0 auto;
  width: 100%;
}

/* line 63, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.social {
  width: 15%;
  position: relative;
  left: 43.5%;
  top: 10px;
  padding: 5px;
}

/* line 71, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.social a {
  padding: 0 5px;
}

/* line 74, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.attributes {
  font-size: 10px;
  text-align: right;
}

/* line 79, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.about {
  width: 90%;
  top: 20px;
  padding-bottom: 20px;
  text-align: left;
  margin: 30px;
}

/* line 87, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.about article {
  text-align: left;
  width: 45%;
  display: inline-block;
  padding-left: 30px;
  color: #777;
}

/* line 95, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.about h1 {
  text-align: center;
  font-family: impact, sans-serif;
  color: #000;
}

/* line 101, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.about img {
  display: inline-block;
  float: right;
  clear: both;
}

/* line 107, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.contact {
  font-family: helvetica, sans-serif;
  text-align: center;
}

/* line 111, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.form-container {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 5em;
}

/* line 116, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 123, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
form div + div {
  margin-top: 1em;
  padding-left: 2.5em;
}

/* line 127, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

/* line 132, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

/* line 139, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
input:focus, textarea:focus {
  border-color: #0FF;
}

/* line 142, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

/* line 147, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.button {
  padding-left: 90px;
}

/* line 150, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
button {
  margin-left: .5em;
}

/* line 153, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
button:hover {
  border: 1px solid #0F0;
}

/* line 156, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.create-container {
  margin: 0 auto;
}

/* line 159, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.create-container h1, .create-container p {
  text-align: center;
  font-size: 48px;
  font-family: helvetica, sans-serif;
  color: #777777;
}

/* line 166, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.create-container p {
  font-size: 2em;
}

/* line 170, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio-container {
  margin: 0 auto;
  height: 800px;
  background: url("snorlax-bukoya.png") no-repeat;
  background-position: 0 -12em;
  background-size: cover;
}

/* line 178, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio-container h1, .portfolio-container p {
  text-align: center;
  font-family: helvetica, sans-serif;
  color: #777;
}

/* line 184, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio-container h1 {
  font-size: 48px;
}

/* line 188, c:/Users/Brennon/portfolio/app/assets/stylesheets/pages.css.scss */
.portfolio-container p {
  font-size: 2em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

