<div class="about">
	<article>
		<h1>Who am I?</h1>
		<p>I was born in Greenville, South Carolina in 1987.
		I lived in South Carolina for 23 years and attended the
		University of South Carolina where I studied Political 
		Science. Once I graduated, I decided to move to Japan in
		order to experience a different culture.
		</p><br>
		<p> I have now been in Japan for over 4 years. I speak Japanese
		and now work at a Japanese company as a recruitment consultant
		specializing in the IT industry. I get to meet many interesting
		people and very talented engineers. I love to talk to them
		about the projects they are working on and learning about what 
		they do. In fact, now I want to become a developer myself!
		</p><br>
		<p> For the past year and a half or so, I've been slowly learning
		web development on my own. I am comfortable working with HTML, CSS, 
		and JavaScript. My back-end language of choice is Ruby (in fact, this 
		site is a Rails app!), but I've also played around with Java and Python, 
		which I really like.
		</p><br>
		<p> Whoever stumbles across my site, thank you for taking a look around.
		If you have any questions, tips, job opportunities or offers please feel 
		free to contact me any time.
		</p>
	</article>
	<%= image_tag("me.jpg", size: "500x500", alt: "Where did I go?")%>
</div>